body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.block {
    display: block;
}

.inline-grid {
    font-size: 0;
}

.inline-grid>* {
    font-size: 1rem;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.top-bar {
    background-color: white;
    color: #f9b6a9;
    border: 3px solid #f9b6a9;
    border-radius: 50px;
}

.top-bar__logo {
    text-align: center;
}

.top-bar>div:first-child {
    width: 300px;
}

.top-bar>div:nth-child(2) {
    width: calc(100% - 300px - 450px);
}

.top-bar>div:last-child {
    width: 450px;
}

.top-bar__logo {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 10px;
}

.top-bar__menu-box-1>ul>li {
    font-size: 1.2rem;
}

.top-bar__menu-box-1>ul>li>a {
    padding: 11px 20px;
    display: block;
}

.top-bar__menu-box-1>ul>li:hover>a {
    background-color: #f9b6a9;
    color: white;
}